<a href="https://colab.research.google.com/github/deramireza/AlgorithmsUN2021I/blob/main/lab4/deramirezatutorial3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword  $def$

In [2]:
#GET DATE TIME
import datetime
def nowdata():
  now = datetime.datetime.now()
  format = now.strftime('Día :%d, Mes: %m, Año: %Y')
  print(format)
nowdata()

Día :07, Mes: 04, Año: 2021

The keyword $def$ is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. A function doesn't necessarily have parameters:

In [4]:
def frase():
  print("andate!!")

frase()

andate!!

# Built-in Function
$range()$ is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to $1$.

In [6]:
l1 = []
for i in range(33):
  l1.append(i)

print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]

In [7]:
l2 = []
for j in range(4,16):
  l2.append(j)

print(l2)

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [8]:
l3 = []
for k in range(1,30,3):
  l3.append(k)

print(l3)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

$len()$ is another function used together with $range()$ to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [9]:
tickers = ['AMZN', 'GOOGL', 'MSFT', 'EBAY', 'FB', 'TSLA', 'NVDA', 'INTC']
print("The number of tickers is {}".format(len(tickers)))
for tc in range(len(tickers)):
    print(tc + 1, tickers[tc])

The number of tickers is 8
1 AMZN
2 GOOGL
3 MSFT
4 EBAY
5 FB
6 TSLA
7 NVDA
8 INTC

**Note:** If you want to print only the tickers without those numbers, then simply write

**for** tc **in** tickers: **print**(ticker)

$map()$ is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [10]:
tickers = ['AMZN', 'GOOGL', 'MSFT', 'EBAY', 'FB', 'TSLA', 'NVDA', 'INTC']
print(list(map(len,tickers)))

[4, 5, 4, 4, 2, 4, 4, 4]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [11]:
print(list(map(lambda x: x**3, range(15))))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

$map()$ can be applied to more than one list. The lists have to have the same length.

In [12]:
print(list(map(lambda x, y: x*y, [1,2,3,4,5], [6,7,8,9,10])))

[6, 14, 24, 36, 50]

$sorted()$ takes a list or set and returns a new sorted list:

In [13]:
sorted([2,5,9,-7,-3,0,2,15])

[-7, -3, 0, 2, 2, 5, 9, 15]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [14]:
price_list = [('AMZN', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('EBAY', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('EBAY', 75.32),
 ('AMZN', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter $reverse$.

In [15]:
price_list = [('AMZN', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('EBAY', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('GOOGL', 911.71),
 ('FB', 150),
 ('AMZN', 144.09),
 ('EBAY', 75.32),
 ('MSFT', 69)]

Lists also have a function $list.sort()$. This function takes the same $key$ and $reverse$ arguments as $sorted()$, but it doesn't return a new list.

In [16]:
price_list = [('AMZN', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('EBAY', 75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('EBAY', 75.32), ('AMZN', 144.09), ('FB', 150), ('GOOGL', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "**objects**" because almost every kind of data from **QuantConnect API** is an object.

# Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the $list$ class, and it has a method $list.sort()$.

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named $Stock$ here:

In [18]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print(self.rate_return)

The $Stock$ class has attributes $ticker$, $open$, $close$, $volume$ and $rate_return$. Inside the class body, the first method is called $__init__$, which is a special method. When we create a new instance of the class, the $__init__ $method is immediately executed with all the parameters that we pass to the $Stock$ object. The purpose of this method is to set up a new $Stock$ object using data we have provided.

Here we create two Stock objects named $apple$ and $google$.

In [19]:
amazon  = Stock('AMZN', 210.32, 215.15, 25634890)
microsoft = Stock('MSFT', 921.5, 951.36, 4569872)

Stock objects also have two other methods: $update()$ and $print$_$return()$. We can access the attribues of a $Stock$ object and call its methods:

In [20]:
amazon.ticker

'AMZN'

In [21]:
microsoft.print_return()

0.03240368963646234

In [22]:
amazon.update(912.8,913.4)
amazon.print_return()

0.0006573181419806673

By calling the $update()$ function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods inside a class, we need to specify them as self.attribute or $self.method()$, otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [23]:
amazon.ceo = 'Jeff Bezos'
amazon.ceo

'Jeff Bezos'

We can check what names (i.e. attributes and methods) are defined on an object using the $dir()$ function:

In [24]:
dir(amazon)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

# Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A $child$ class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named $Child$ which inherits $Stock$:

In [25]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

Then we create an object:

In [26]:
test = Child('TEST')
print(test.name)

TEST

In [27]:
test.update(121, 153)
print(test.open)

121

In [28]:
test.close
print(test.close)

153

In [29]:
test.print_return()

0.2644628099173554

As seen above, the new class $Child$ has inherited the methods from Stock.

# Summary
In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

Tomado De "https://www.quantconnect.com/tutorials/introduction-to-financial-python/functions-and-objective-oriented-programming"