<a href="https://colab.research.google.com/github/deramireza/AlgorithmsUN2021I/blob/main/lab4/deramirezatutorial4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [3]:
import numpy as np

# Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [4]:
price_list = [152.32, 153.56, 153.68, 154.22, 153.51, 152.6]
price_array = np.array(price_list)
print(price_array, type(price_array))

[152.32 153.56 153.68 154.22 153.51 152.6 ] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [5]:
Ar = np.array([[2,3], [1,7]])
print(Ar, type(Ar))

[[2 3]
 [1 7]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [7]:
print(Ar.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [8]:
print(Ar[0])

[2 3]

In [9]:
print(Ar[1])

[1 7]

If we want to access the matrix by column instead:

In [10]:
print('First column:', Ar[:,0])

First column: [2 1]

In [11]:
print('Second column:', Ar[:,1])

Second column: [3 7]

# Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [12]:
np.log(price_array)

array([5.02598357, 5.03409137, 5.03487252, 5.03838015, 5.03376571,
       5.02782012])

Other functions return a single value:

In [13]:
np.mean(price_array)

153.315

In [14]:
print(np.std(price_array))

0.6521183430431451

In [15]:
print(np.sum(price_array))

919.89

In [16]:
print(np.max(price_array))

154.22

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. First we need to import Pandas:

In [17]:
import pandas as pd

### Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [18]:
price = [152.32, 153.56, 153.68, 154.22, 153.51, 152.6]

In [19]:
s = pd.Series(price)

In [20]:
print(s)

0    152.32
1    153.56
2    153.68
3    154.22
4    153.51
5    152.60
dtype: float64

We can customize the indices of a new Series:

In [21]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print(s)

a    152.32
b    153.56
c    153.68
d    154.22
e    153.51
f    152.60
dtype: float64

Or we can change the indices of an existing Series:

In [22]:
s.index = [6,5,4,3,2,1]
print(s)

6    152.32
5    153.56
4    153.68
3    154.22
2    153.51
1    152.60
dtype: float64

Series is like a list since it can be sliced by index:

In [23]:
print(s[3:],'\n')
print(s[:-3])

3    154.22
2    153.51
1    152.60
dtype: float64

6    152.32
5    153.56
4    153.68
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [25]:
print(s[2])
s[2] = 0
print(s)

0.0
6    152.32
5    153.56
4    153.68
3    154.22
2      0.00
1    152.60
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [26]:
s = pd.Series(price, name = 'Amazon Prices')
print(s)
print(s.name)

0    152.32
1    153.56
2    153.68
3    154.22
4    153.51
5    152.60
Name: Amazon Prices, dtype: float64
Amazon Prices

We can get the statistical summaries of a Series:

In [27]:
print(s.describe())

count      6.00000
mean     153.31500
std        0.71436
min      152.32000
25%      152.82750
50%      153.53500
75%      153.65000
max      154.22000
Name: Amazon Prices, dtype: float64

### Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [28]:
time_index = pd.date_range('2020-01-01', periods = len(s), freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')
2020-01-01    152.32
2020-01-02    153.56
2020-01-03    153.68
2020-01-04    154.22
2020-01-05    153.51
2020-01-06    152.60
Freq: D, Name: Amazon Prices, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [29]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    152.32
5    153.56
4    153.68
3    154.22
2    153.51
1    152.60
Name: Amazon Prices, dtype: float64
152.6

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [30]:
print(s.iloc[3])

154.22

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index.

In [31]:
s.index = time_index
print(s['2020-01-03'])

153.68

We can even access to a range of dates:

In [32]:
print(s['2020-01-03':'2020-01-06'])

2020-01-03    153.68
2020-01-04    154.22
2020-01-05    153.51
2020-01-06    152.60
Freq: D, Name: Amazon Prices, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [33]:
print(s[s <= np.mean(s)], '\n')
print(s[(s > np.mean(s)) & (s <= np.mean(s) + 1.41*np.std(s))])

2020-01-01    152.32
2020-01-06    152.60
Name: Amazon Prices, dtype: float64

2020-01-02    153.56
2020-01-03    153.68
2020-01-04    154.22
2020-01-05    153.51
Freq: D, Name: Amazon Prices, dtype: float64

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.